/node_modules
/public/hot
/public/storage
/public/design
/public/images
/storage/*.key
/storage/app
/storage/analytics
/storage/backup
/storage/app/public
/storage/logs
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
