@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
    
    --f-default: 'Rubik', sans-serif;


    --c-white: #fff;
    --c-grey_15: #e1e3e8;
    --c-grey_16: #ebedf2;


    --c-main-text : #1f1f25;
    --c-text-primary : #333;
    --c-text-secondary: #777;
    --c-text-third : #999;
    --c-text-muted : #d1d1d1;
    --c-text-dark-mode: #c6c9d8;

    --c-black: #1b1e2b;
    --c-black_12: #202433;
    --c-black_14: #252a3c;
    --c-black_16: #3e4660;

    --c-blue: #0084ff;
    --c-blue_12: #0467c4;
    --c-blue_14: #e8f4ff;

    --c-red: #ec1c24;
    

    --easing: cubic-bezier(.48,0,.12,1);
    --gradient: linear-gradient( 135deg, #0eb3e9 0%, #4979fd 50%, #4254f7 100%);
    --gradient_2: linear-gradient(135deg, #0084ff 0%, #7d5fe8 33%, #ec1c24 100%);
    --box-shadow : 0 10px 35px -10px rgba(72, 70, 88, 0.25);
    --box-shadow_2 : -5px 0 30px rgba(72, 70, 88, 0.2);

    // Brakepoints
    

    
}

@media screen and (max-width: 575.98px) {
    :root {
        --box-shadow : 0 5px 15px rgba(95, 119, 112, 0.1);

    }
}

$breakpoint-xl: 1199.98px;
$breakpoint-lg: 991.98px;
$breakpoint-md: 767.98px;
$breakpoint-sm: 575.98px;

