.btn {
    position: relative;
    min-width: 200px;
    padding: 20px;
    letter-spacing: 0.1em;
    color: inherit;
    text-transform: uppercase;
    font-size: .78em;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    transition: color .3s var(--easing);

    &:focus {
        box-shadow: inherit;
    }

    &:before {
        position: absolute;
        content: "";
        background-color: var(--c-text-primary);
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        
    }

   
    &.large {
        font-size: 18px;
        padding: 25px 30px;
    }

    &.small {
        padding: 8px 15px;
    }

    span {
        position: relative;
        z-index: 1;
        text-align: left;
        transition: .3s;
    }

    @media screen and (min-width: 1198.98px) {
        &:active, &:hover:not(.btn-text) {

            span {
                background-image: var(--gradient_2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &::before {
                opacity: 1;
                visibility: visible;
            }

        }
    }


    &.btn-white {
        background-color: var(--c-white);

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: block;
            background: var(--gradient);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s var(--easing);            
        }

        @media screen and (min-width: 1198.98px) {
            &:active, &:hover {
                box-shadow: 0 12px 30px -10px var(--c-blue);
                color: var(--c-white);
    
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }

        }

        
    }

    &.btn-gradient{
        background-color: var(--c-blue);
        border: none;
        background: var(--gradient_2);
        color: var(--c-white);
        transition: .5s;
        // padding: 27px 25px;

    }

    &.btn-red {
        background-color: var(--c-red);
        color: var(--c-white);
        border: 2px solid var(--c-red);

        
    }

    &.btn-blue {
        background-color: var(--c-blue);
        color: var(--c-white);
        border: 2px solid var(--c-blue);

       
    }

    &.btn-line {
        border: 2px solid var(--c-grey_15);
        background-color: var(--c-grey_16);

        &:before {
            
            left: -2px;
            top: -2px;
            right: -2px;
            bottom: -2px;
        }

        &.white {
            border-color: var(--c-white);
            color: var(--c-white);

            &:hover {
                border-color: transparent;
            }
        }
    }

    &.btn-text {
        padding: 0 0 10px 0;
        border-radius: 0;
        min-width: auto;
        color: inherit;
        letter-spacing: normal;

        &::before {
            display: none;
        }

        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 40px;
            height: 2px;
            background-color: var(--c-blue);
            transition: .3s var(--easing);
        }

        &.frm-right {
            &::after {
                left: auto;
                right: 0;
            }
        }

        &.text-large {
            font-size: 18px;
            font-weight: 500;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    &.w-icon {
        display: inline-flex;
        align-items: center;
        

        i {
            font-size: 22px;
            z-index: 1;
        }

        span {
            margin-left: 10px;
            width: calc(100% - 40px);
        }

       

        &.icon-box {
            padding: 10px;
            
            
            
            i {
                background-color: var(--c-orange_14);
                width: 30px;
                height: 30px;
                color: var(--c-blue);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                transition: .3s var(--easing);
            }

            &.large {

                i {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        &.icon-right {
            padding-left: 20px;
            
            i {
                margin-left: 10px;
            }
        }

        @media screen and (min-width: 1198.98px) {
            &:active, &:hover {
                &.icon-box {
                    i {
                        background-color: var(--c-white);
                        box-shadow: 3px 5px 5px rgba(140, 89, 69, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.1);
                    }
                }
    
            }
        }

        


        

    }

    .icons {
        width: 35px;
        margin-right: 10px;
    }

    &.btn-close {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        min-width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 24px;
        letter-spacing: 0;
        cursor: pointer;
        color: var(--c-blue);
        background-color: var(--c-grey_15);
        transition: none;

        &::before {
            display: none;
        }
    }
}

.box-btn {
    position: relative;
    display: flex;
}

.pagination {
    li {
        margin: 0 5px
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        font-size: 12px;
        border-radius: 6px;
        font-weight: 600;
        border: 2px solid transparent;
        border-radius: 8px;
        transition: .3s var(--easing);
        &:hover {
            box-shadow: var(--box-shadow);
        }
        &.active {
            border: 2px solid var(--c-blue);
            background: transparent;
            
            
        }
    }
}

.share-box {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-top: 30px;

    h6 {
        position: absolute;
        background-color: var(--c-white);
        top: 0;
        z-index: 20;
        padding: 0 20px;
        text-transform: uppercase;
        font-size: .78rem;
        font-weight: 700;
    }

    ul {
        position: relative;
        display: flex;
        padding: 10px 10px 5px;
        border: 2px solid var(--c-blue);
        border-radius: 10px;

        li {
            margin: 0 10px;

            a {
                font-size: 24px;
            }
        }
    }
}