body {
    &.active-dark-mode {
        background-color: var(--c-black);
        color: var(--c-text-dark-mode);

        .form-group {
            .form-control  {
                border-color: var(--c-black_16);
                color: inherit;

                &::-webkit-input-placeholder, &::placeholder {
                    color: var(--c-black_16);
                    text-overflow: ellipsis;
                }
            }
        }

        .btn {
            color: var(--c-white);

            &::before {
                background-color: var(--c-white);
            }


            &.btn-line {
                border-color: var(--c-black_16);
                background-color: var(--c-black_14);

                &.white {
                    &:hover {
                        border-color: transparent;
                    }
                }
            }

            &.btn-close {
                background-color: var(--c-black_14);
               
            }
        }

        .share-box {
            h6 {
                background-color: var(--c-black);
            }
        }

        .title-heading {
             * {
                color: var(--c-white);
            }
        }

        .switcher {
            .list-sw {
                .item-sw {
                    a {
                        span {
                            color: var(--c-text-dark-mode);
                        }
                    }
                }
            }
        }

        header {
           
            .lg-f0 {
                fill: var(--c-white);
            }

            .top-header {
                .th-flex {
                    .th-right {
                        .th-ctbox {
                            .list-ct {
                                .item-ct {
                                    border-color: var(--c-black_16);

                                    @media screen and (min-width: $breakpoint-xl) {
                                        &:hover {
                                            background-color: var(--c-black_14);
                                        }
                                    }
                                }

                                
                            }
                        }
                    }
                }
            }

            .main-header {
                .mh-flex {
                    .mh-center {
                        .main-nav {
                            .list-mv {
                                > li {
                                    .dropdown {
                                        background-color: var(--c-black_12);

                                        li {
                                            &::after {
                                                border-color: #666;
                                            }
                                        }
                                    }
                                }

                                
                            }
                        }
                    }
                }

                &.pinned {
                    background-color: var(--c-black_12);
                    box-shadow: 0 10px 35px -10px rgba(0, 0, 0, 0.5); 
                }
            }

            @media screen and(min-width: $breakpoint-xl) {
                .main-header {
                    .mh-flex {
                        .mh-center {
                            .main-nav {
                                .list-mv {
                                    > li {
                                        .dropdown {
                                            background-color: var(--c-black_12);
                                            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
                                            li {
                                                &::after {
                                                    border-color: #666;
                                                }
                                            }
                                        }
                                    }
    
                                    
                                }
                            }
                        }
                    }
                }
            }

            
        }

        main {
            .box-intro {
                .swiper-intro {
                    background-color: var(--c-black_14);
                }
            }

            .box-wrap {
                &.bg-grey {
                    background-color: var(--c-black_12);
                }
            }

            .item-sv {
                &::after {
                    border-color: var(--c-black_16);
                    background-color: var(--c-black_14);
                }

                .icon-sv {
    
                    .icon-box::after {
                        display: none;
                        
                    }
    
                    svg {
                        fill: var(--c-white);
                    }
                    
                    .pattern-box {
                        .st1{
                            fill:#4c4c4c;
                        }
                    }
    
                }
    
                .desc-sv {
                    h5 {
                        color: var(--c-white);
                    }
                }
            }

            .item-prd {
                .logo-prd {

                    img {
                        filter: invert(0);
                        opacity: 1;
                    }
                    
                    svg {
                        fill: var(--c-white);
                    }
                }
            }

            .future-clients {
                border-color: #333;

                .item-client {
                    border-color: #333;
                    img {
                        filter: invert(0);
                        opacity: 1;
                    }
                }
            }

            .list-expertise {
                .item-expertise {
                    border-top: 1px solid rgba(204, 204, 204, .2);
                }
            }

            .type-cat {
                .item-type {
                    color: var(--c-black_16);

                    + .item-type {
                        &::before {
                            background-color: var(--c-black_16);
                        }
                    }
                }
            }

            .wrap-portfolio {

                .nav-portfolio {
                    .btn-portfolio {
                        background-color: var(--c-white);
                    }

                    ul {
                        background-color: var(--c-black_12);
                        box-shadow: 10px 10px 30px rgba(0,0,0,.3);

                        li > a::before {
                            border-color: var(--c-black_16);
                        }
                    }
                }

                .our-portfolio {
                    .box-prt {
                        .box-prt-abslt {
                            .time-prt-abslt {
                                -webkit-text-stroke-color: var(--c-black_16);
                                opacity: .8;
                            }
                        }

                        .box-prt-desc {
                            border-color: var(--c-black_16);
                            .time-prt {
                                .pin-time-prt {
                                    box-shadow: 0px 0px 0px 10px var(--c-black);
                                }
                            }

                            .list-prt {
                                .item-prt {
                                    .pin-prt {
                                        box-shadow: 0px 0px 0px 10px var(--c-black);
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .cat-nav {
                .list-cn {
                    .item-cn {
                        a {
                            border-color: var(--c-black_16);
                        }

                        &.actived {
                            a {
                                background-color: var(--c-white);
                                border-color: var(--c-white);
                            }
                        }
                    }
                }
            }

            .item-contact {
                span {
                    color: var(--c-black_16);
                }
            }

        }

        .box-img, .box-post-img {
            background-color: #191919;
        }

        .box-map {
            .icon-map {
                background-color: var(--c-black_14);
            }
        }
        
        .form-overlays {
            background-color: var(--c-black);
        }
        
    }

    
}
